@import "collection/variables";
@import "collection/mixins";

body {
    background: @bg_color_1;
}

.page-logo {
    text-align: center;
    padding: .5em 0 1.3em 0;
    img {
        height: 7.5em;
        max-width: 90vw;
        max-height: 25vh;
    }
    .page-logo-text {
        color: #576466;
        opacity: .6;
    }
}

.form-description {
    padding-top: .5em;
    font-size: .95em;
    color: #918f97;
}
