@import "collection/variables";
@import "collection/mixins";

.bids-pages {
    #createBid {
        padding: 0 1em;
        .form-control-feedback {
            right: 1.13em !important;
        }
        #bidClientInfo {
            //box-shadow: -2px 2px 6px 2px rgb(131, 131, 131);
            border: .18em ridge #dddddd;
            background: #CEF6F5;
            padding: 0.5em 1em;
            margin-bottom: 1.5em;
        }
        #bidEngineInfo {
            #bidClientInfo;
            background: #F5F6CE;
        }
        #bidCategoryInfo {
            #bidClientInfo;
            background: #CEF6CE;
        }
        #bidDatesInfo {
            #bidClientInfo;
            background: #d0d9f6;
        }
        #bidNotesInfo {
            #bidClientInfo;
            background: #f6dcf5;
        }
    }
}