/*COLORS*/
/*Example*/
.bids-pages #createBid {
  padding: 0 1em;
}
.bids-pages #createBid .form-control-feedback {
  right: 1.13em !important;
}
.bids-pages #createBid #bidClientInfo {
  border: .18em ridge #dddddd;
  background: #CEF6F5;
  padding: 0.5em 1em;
  margin-bottom: 1.5em;
}
.bids-pages #createBid #bidEngineInfo {
  border: .18em ridge #dddddd;
  background: #CEF6F5;
  padding: 0.5em 1em;
  margin-bottom: 1.5em;
  background: #F5F6CE;
}
.bids-pages #createBid #bidCategoryInfo {
  border: .18em ridge #dddddd;
  background: #CEF6F5;
  padding: 0.5em 1em;
  margin-bottom: 1.5em;
  background: #CEF6CE;
}
.bids-pages #createBid #bidDatesInfo {
  border: .18em ridge #dddddd;
  background: #CEF6F5;
  padding: 0.5em 1em;
  margin-bottom: 1.5em;
  background: #d0d9f6;
}
.bids-pages #createBid #bidNotesInfo {
  border: .18em ridge #dddddd;
  background: #CEF6F5;
  padding: 0.5em 1em;
  margin-bottom: 1.5em;
  background: #f6dcf5;
}
