@import "collection/variables";
@import "collection/mixins";

.admin-dashboard {
    .main-header {
        .logo-mini{
            img {
                max-height: 1.8em;
                padding-bottom: .2em;
            }
        }
        .logo-lg {
            img {
                max-height: 2em;
                padding-bottom: .2em;
            }
        }
    }
    .main-sidebar {
        .sidebar {
            .user-panel {
                .image {
                    img {
                        width: 3.1em;
                        max-width: 100%;
                        background: white;
                    }
                }
            }
        }
    }
    .content-wrapper {
        .search-form {
            padding: 2em 0;
            background: #ecf0f5;
        }
        .no-results {
            font-size: 3.1em;
            background: #ecf0f5;
            padding: 2em 0;
            i, p {
                color: #c3c3c3;
            }
        }
        .users-index {
            .for-form-inline {
                form {
                    display: inline-block;
                }
            }
        }
        .users-create {
            .register-box {
                margin-top: 1em !important;
            }
            .client-date-clock {
                padding-top: .26em;
                i {
                    color: #dcac00;
                }
                .client-date-inputs {
                    display: none;
                    opacity: .8;
                }
            }
        }
        .no-background {
            background: #ecf0f5;
        }
    }
}

.trumbowyg-usage-1 {
    .trumbowyg-box {
        margin-top:0;
        border: .1em solid gray;
    }
}
