/*COLORS*/
/*Example*/
.error-page {
  background: #e1e3ea;
}
.error-page .error-404 img {
  width: 26em;
  min-width: 30vw;
  max-width: 44vw;
  padding: 5vh 0 2em 0;
}
.error-page .error-404 .error-btn li {
  padding: 0 .52em;
}
.error-page .error-404 .error-btn li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  background: rgba(167, 178, 211, 0.19);
  padding: 1em 1.39em;
  border: 1px solid rgba(167, 178, 211, 0.84);
}
.error-page .error-404 .error-btn li a:hover {
  background: #0087FF;
  color: #f4f4f4;
  transform: scale(1.1, 1.1);
  transition: all 0.39s ease-in;
}
