/*COLORS*/
/*Example*/
.faq-index {
  font-family: 'Open Sans', sans-serif;
}
.faq-index .faq-category .faq-category-title {
  font-size: 1.1em;
  color: #626a84;
}
.faq-index .faq-category .faq-list {
  padding-top: .31em;
}
.faq-index .faq-category .faq-list .faq-question {
  color: rgba(54, 117, 171, 0.89);
  cursor: pointer;
}
.faq-index .faq-category .faq-list .faq-answer {
  display: none;
  font-size: .95em;
  color: #444444;
}
.faq-index .faq-category .faq-list .faq-answer img {
  max-width: 100%;
  width: 35em;
}
.faq-index .find-faq {
  border: 1px solid #b5bcc7;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  background: rgba(216, 220, 255, 0.75);
  padding: 1em;
  margin-bottom: 1.3em;
}
.faq-index .find-faq .find-faq-answer {
  font-size: 1.2em;
  color: rgba(43, 67, 76, 0.89);
}
.faq-index .find-faq .find-faq-question {
  color: #444444;
  border-left: 5px solid rgba(180, 185, 220, 0.75);
  padding: .5em 1em;
  margin: .5em 0 0 0;
}
.faq-index .find-faq img {
  border-left: 5px solid rgba(180, 185, 220, 0.75);
  max-width: 100%;
  width: 35em;
}
