@import "collection/variables";
@import "collection/mixins";

.impex-index {
    .nav-tabs-custom {
        box-shadow: 0 0 10px 5px rgb(197, 208, 222);
        .nav-tabs {
            border-bottom: 1px solid #3c8dbc;
            font-size: 1.2em;
            li.active{
                a {
                    color: #3c8dbc;
                }
            }
        }
        .impex-export-block, .impex-import-block {
            .impex-block {
                .ib-title {
                    font-family: "Open Sans";
                    font-weight: 900;
                    font-size: 1.1em;
                    color: #367fa9;
                    margin-top: .52em;
                }
                .ib-radio {
                    margin-top: .26em;
                    border: .1em solid #d4dfe4;
                    padding: .26em .39em;
                }
                #ib_cc, #ib_bc {
                    display: none;
                    padding: .75em .39em;
                    font-style: italic;
                    color: #444444;
                    .ib-num-input {
                        width: 4em;
                    }
                }
            }
            #ib_export_alert, #ib_import_alert {
                padding-top: 1em;
                display: none;
                .callout {
                    margin-bottom: 0;
                }
            }
            #sendEmailAll {
                padding-left: .41em;
                #sendEmailCheckbox {
                    margin-top: 1.5em;
                }
                #sendEmailAdressAndText {
                    display: none;
                    input, textarea {
                        width: 100%;
                        border: .2em solid #3c8dbc;
                        &:focus {
                            border: .2em solid #52b9d5;
                        }
                    }
                    label {
                        color: #2b5f80;
                    }
                }
            }
        }
    }
}

.import-errors {
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ie-body {
        display: flex;
        flex-direction: row;
        .ie-body-el {
            margin: 1em 1.3em;
            display: flex;
            flex-direction: column;
            position: relative; /*for remove button*/
            align-items: center;
            padding: 3.1em;
            -webkit-border-radius: 5em;
            -moz-border-radius: 5em;
            border-radius: .66em;
            border: 1px solid;
            border-color: #b4b7be #b8b9bd;
            background: #ffffff;
            font-family: 'Open Sans', sans-serif;
            box-shadow: 2px 2px 23px -6px #666666;
            i.fa {
                font-size: 7.5em;
            }
            .e-body-el-title {
                padding: .31em 0 .52em 0;
                font-weight: 900;
                font-size: 1.3em;
                color: #666666;
            }
            span.badge {
                font-size: 1em;
                padding: .26em 1.52em;
            }
        }
        .ie-el-companies {
            i.fa {
                color: rgba(198, 102, 172, 0.71);
                padding-left: .08em;
            }
            box-shadow:
                    0 0 0 2px #c674af,
                    0 0 0 6px #eb9bd7,
                    0 0 0 11px #ffd0f4;
        }
        .ie-el-contacts {
            i.fa {
                color: rgba(62, 203, 239, 0.71);
            }
            box-shadow:
                    0 0 0 2px #4cddff,
                    0 0 0 6px #8be4ff,
                    0 0 0 11px #b3eeff;
        }
        .ie-el-bids {
            i.fa {
                color: rgba(255, 175, 30, 0.71);
            }
            box-shadow:
                    0 0 0 2px #ffe257,
                    0 0 0 6px #ffea81,
                    0 0 0 11px #ffe8c0;
        }
    }
    .ie-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        margin-top: 2em;
        a {
            font-size: 1.5em;
            font-weight: 900;
        }
        .errors-count-info {
            font-size: 1em;
            margin-top: .52em;
            color: #525252;
            line-height: .9;
        }
    }
    .remove-corrections {
        position: relative;
        top: 2.6em;
        color: @red_button_1;
        cursor: pointer;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
}
