/*COLORS*/
/*Example*/
.impex-index .nav-tabs-custom {
  box-shadow: 0 0 10px 5px #c5d0de;
}
.impex-index .nav-tabs-custom .nav-tabs {
  border-bottom: 1px solid #3c8dbc;
  font-size: 1.2em;
}
.impex-index .nav-tabs-custom .nav-tabs li.active a {
  color: #3c8dbc;
}
.impex-index .nav-tabs-custom .impex-export-block .impex-block .ib-title,
.impex-index .nav-tabs-custom .impex-import-block .impex-block .ib-title {
  font-family: "Open Sans";
  font-weight: 900;
  font-size: 1.1em;
  color: #367fa9;
  margin-top: .52em;
}
.impex-index .nav-tabs-custom .impex-export-block .impex-block .ib-radio,
.impex-index .nav-tabs-custom .impex-import-block .impex-block .ib-radio {
  margin-top: .26em;
  border: .1em solid #d4dfe4;
  padding: .26em .39em;
}
.impex-index .nav-tabs-custom .impex-export-block .impex-block #ib_cc,
.impex-index .nav-tabs-custom .impex-import-block .impex-block #ib_cc,
.impex-index .nav-tabs-custom .impex-export-block .impex-block #ib_bc,
.impex-index .nav-tabs-custom .impex-import-block .impex-block #ib_bc {
  display: none;
  padding: .75em .39em;
  font-style: italic;
  color: #444444;
}
.impex-index .nav-tabs-custom .impex-export-block .impex-block #ib_cc .ib-num-input,
.impex-index .nav-tabs-custom .impex-import-block .impex-block #ib_cc .ib-num-input,
.impex-index .nav-tabs-custom .impex-export-block .impex-block #ib_bc .ib-num-input,
.impex-index .nav-tabs-custom .impex-import-block .impex-block #ib_bc .ib-num-input {
  width: 4em;
}
.impex-index .nav-tabs-custom .impex-export-block #ib_export_alert,
.impex-index .nav-tabs-custom .impex-import-block #ib_export_alert,
.impex-index .nav-tabs-custom .impex-export-block #ib_import_alert,
.impex-index .nav-tabs-custom .impex-import-block #ib_import_alert {
  padding-top: 1em;
  display: none;
}
.impex-index .nav-tabs-custom .impex-export-block #ib_export_alert .callout,
.impex-index .nav-tabs-custom .impex-import-block #ib_export_alert .callout,
.impex-index .nav-tabs-custom .impex-export-block #ib_import_alert .callout,
.impex-index .nav-tabs-custom .impex-import-block #ib_import_alert .callout {
  margin-bottom: 0;
}
.impex-index .nav-tabs-custom .impex-export-block #sendEmailAll,
.impex-index .nav-tabs-custom .impex-import-block #sendEmailAll {
  padding-left: .41em;
}
.impex-index .nav-tabs-custom .impex-export-block #sendEmailAll #sendEmailCheckbox,
.impex-index .nav-tabs-custom .impex-import-block #sendEmailAll #sendEmailCheckbox {
  margin-top: 1.5em;
}
.impex-index .nav-tabs-custom .impex-export-block #sendEmailAll #sendEmailAdressAndText,
.impex-index .nav-tabs-custom .impex-import-block #sendEmailAll #sendEmailAdressAndText {
  display: none;
}
.impex-index .nav-tabs-custom .impex-export-block #sendEmailAll #sendEmailAdressAndText input,
.impex-index .nav-tabs-custom .impex-import-block #sendEmailAll #sendEmailAdressAndText input,
.impex-index .nav-tabs-custom .impex-export-block #sendEmailAll #sendEmailAdressAndText textarea,
.impex-index .nav-tabs-custom .impex-import-block #sendEmailAll #sendEmailAdressAndText textarea {
  width: 100%;
  border: .2em solid #3c8dbc;
}
.impex-index .nav-tabs-custom .impex-export-block #sendEmailAll #sendEmailAdressAndText input:focus,
.impex-index .nav-tabs-custom .impex-import-block #sendEmailAll #sendEmailAdressAndText input:focus,
.impex-index .nav-tabs-custom .impex-export-block #sendEmailAll #sendEmailAdressAndText textarea:focus,
.impex-index .nav-tabs-custom .impex-import-block #sendEmailAll #sendEmailAdressAndText textarea:focus {
  border: .2em solid #52b9d5;
}
.impex-index .nav-tabs-custom .impex-export-block #sendEmailAll #sendEmailAdressAndText label,
.impex-index .nav-tabs-custom .impex-import-block #sendEmailAll #sendEmailAdressAndText label {
  color: #2b5f80;
}
.import-errors {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.import-errors .ie-body {
  display: flex;
  flex-direction: row;
}
.import-errors .ie-body .ie-body-el {
  margin: 1em 1.3em;
  display: flex;
  flex-direction: column;
  position: relative;
  /*for remove button*/
  align-items: center;
  padding: 3.1em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: .66em;
  border: 1px solid;
  border-color: #b4b7be #b8b9bd;
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 2px 2px 23px -6px #666666;
}
.import-errors .ie-body .ie-body-el i.fa {
  font-size: 7.5em;
}
.import-errors .ie-body .ie-body-el .e-body-el-title {
  padding: .31em 0 .52em 0;
  font-weight: 900;
  font-size: 1.3em;
  color: #666666;
}
.import-errors .ie-body .ie-body-el span.badge {
  font-size: 1em;
  padding: .26em 1.52em;
}
.import-errors .ie-body .ie-el-companies {
  box-shadow: 0 0 0 2px #c674af,
                    0 0 0 6px #eb9bd7,
                    0 0 0 11px #ffd0f4;
}
.import-errors .ie-body .ie-el-companies i.fa {
  color: rgba(198, 102, 172, 0.71);
  padding-left: .08em;
}
.import-errors .ie-body .ie-el-contacts {
  box-shadow: 0 0 0 2px #4cddff,
                    0 0 0 6px #8be4ff,
                    0 0 0 11px #b3eeff;
}
.import-errors .ie-body .ie-el-contacts i.fa {
  color: rgba(62, 203, 239, 0.71);
}
.import-errors .ie-body .ie-el-bids {
  box-shadow: 0 0 0 2px #ffe257,
                    0 0 0 6px #ffea81,
                    0 0 0 11px #ffe8c0;
}
.import-errors .ie-body .ie-el-bids i.fa {
  color: rgba(255, 175, 30, 0.71);
}
.import-errors .ie-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 2em;
}
.import-errors .ie-button a {
  font-size: 1.5em;
  font-weight: 900;
}
.import-errors .ie-button .errors-count-info {
  font-size: 1em;
  margin-top: .52em;
  color: #525252;
  line-height: .9;
}
.import-errors .remove-corrections {
  position: relative;
  top: 2.6em;
  color: #d73925;
  cursor: pointer;
  font-weight: bold;
}
.import-errors .remove-corrections:hover {
  text-decoration: underline;
}
