/*COLORS*/
/*Example*/
/*>>>>TABLE FIX OVERFLOW AUTO>>>>*/
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}
/*<<<<TABLE FIX OVERFLOW AUTO<<<<*/
.notification-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  font-size: 1.1em;
  font-weight: 600;
  font-family: Arial, Tahoma, Helvetica, Verdana, Lucida, sans-serif;
}
.notification-top button.close {
  font-size: 1.8em;
}
.notification-top .alert {
  border-color: transparent;
}
.notification-top .alert-error,
.notification-top .alert-danger {
  background: #dd4b39 !important;
  color: #f6f6f6 !important;
}
.notification-top .alert-warning {
  background: #f0ad4e !important;
  color: #f6f6f6 !important;
}
.notification-top .alert-success {
  background: #5cb85c !important;
  color: #f6f6f6 !important;
}
.notification-top .alert-info {
  background: #5bc0de !important;
  color: #f6f6f6 !important;
}
.notification-page {
  padding-bottom: .9em;
}
.notification-page .alert {
  font-family: Helvetica, Arial, Tahoma, Verdana, Lucida, sans-serif;
  margin-bottom: .5em;
  color: #5c6664 !important;
}
.notification-page .alert a {
  color: #00a7d0 !important;
}
.checkbox-2x {
  -ms-transform: scale(1.66);
  -moz-transform: scale(1.66);
  -webkit-transform: scale(1.66);
  -o-transform: scale(1.66);
  padding: 10px;
}
.modal-type-1 .modal-header {
  background: rgba(225, 227, 234, 0.91);
}
.modal-type-1 .modal-header .close {
  position: absolute;
  right: .26em;
  top: .23em;
  font-size: 3.2em;
  font-weight: 100;
}
.modal-type-1 .modal-header .modal-title {
  font-size: 1.5em;
  color: #596167;
}
.modal-type-1 .modal-body .modal-body-text {
  font-family: 'Open Sans', sans-serif;
  color: rgba(29, 33, 42, 0.53);
  padding: .26em 0 1.3em 0;
}
.modal-type-1 .modal-footer {
  background: rgba(225, 227, 234, 0.91);
}
#clientShow .dl-horizontal dt,
#clientShow .dl-horizontal dd {
  padding-top: .52em;
}
form .border-bg-blue {
  border: 1px solid #0073b7;
}
form .border-bg-red {
  border: 1px solid #dd4b39;
}
.header-locale ul {
  padding-top: 1em;
}
.header-locale ul li a img {
  width: 2em;
  border-radius: .26em;
}
.header-locale ul li a img:hover {
  transform: scale(1.3, 1.3);
  transition: all 0.39s ease-in;
}
/*TEMPLATES*/
.email-templates .thumbnail img {
  width: 100%;
  height: 10em;
}
/*LOADING IMAGE*/
.loading-process {
  z-index: 99999;
  position: fixed;
  display: none;
}
.loading-process .dark-background {
  background: rgba(0, 0, 0, 0.44);
  position: inherit;
  z-index: inherit;
  width: 100%;
  height: 100%;
}
.loading-process img {
  z-index: inherit;
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  max-width: 20em;
  opacity: 1;
}
.not-active-link {
  pointer-events: none;
  opacity: .65;
}
input:invalid,
select:invalid,
textarea:invalid {
  border: 1px solid #a94442;
  background: #eac9c8;
}
input:invalid::-webkit-input-placeholder,
select:invalid::-webkit-input-placeholder,
textarea:invalid::-webkit-input-placeholder {
  color: #a94442;
}
input:invalid::-moz-placeholder,
select:invalid::-moz-placeholder,
textarea:invalid::-moz-placeholder {
  color: #a94442;
}
input:invalid:-moz-placeholder,
select:invalid:-moz-placeholder,
textarea:invalid:-moz-placeholder {
  color: #a94442;
}
input:invalid:-ms-input-placeholder,
select:invalid:-ms-input-placeholder,
textarea:invalid:-ms-input-placeholder {
  color: #a94442;
}
.unsubscribe-page .unsubscribe-text {
  padding: 10vh 0 0 0;
}
.unsubscribe-page img {
  width: 20em;
  min-width: 30vw;
  max-width: 44vw;
  padding: 5vh 0 2em 0;
}
/*Select2 color multiple choose*/
.select2-selection__choice {
  color: #000000 !important;
}
/*Tips blocks*/
#tipsBlocks {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -5em;
  z-index: 99999;
  cursor: pointer;
  padding: .39em .75em;
  background: #5cb85c;
  -webkit-border-radius: .5em .5em 0 0;
  -moz-border-radius: .5em .5em 0 0;
  border-radius: .5em .5em 0 0;
  color: #ffffff;
  opacity: .8;
  font-weight: 900;
  font-family: 'Open Sans', sans-serif;
  font-size: .88em;
  letter-spacing: .05em;
}
#tipsBlocks:hover {
  opacity: 1;
}
.tip-block {
  display: none;
}
.tip-block-under {
  font-size: .9em;
  font-style: italic;
  color: rgba(72, 142, 156, 0.91);
}
.page-info-block .close {
  position: relative;
  right: -0.44em;
  top: -0.44em;
  font-size: 3.2em;
  font-weight: 100;
}
/*END Tips blocks*/
.moderator-link i,
.moderator-link span {
  color: rgba(122, 134, 146, 0.67);
}
/*Panel index*/
.dashboard-general .info-box {
  color: #666666 !important;
}
.dashboard-general .info-box .info-box-content .info-box-text {
  font-size: .83em;
}
.dashboard-general .info-box .info-box-content .info-box-my-count {
  font-weight: 900;
  font-size: 1.5em;
}
.dashboard-general .info-box:hover .info-box-icon i {
  transform: scale(1.13, 1.13) translate(0.1em, 0.1em);
  transition: all .26s linear;
}
.dashboard-general .info-box:hover .info-box-content {
  color: #0094bc;
  transition: all .26s linear;
}
.dashboard-general .info-box:hover .info-box-content .info-box-link {
  color: #44cf6b !important;
  transition: all .26s linear;
}
/*Clients groups*/
#sendEmailsForClients .clients-all-groups {
  white-space: nowrap;
  cursor: pointer;
}
#sendEmailsForClients .clients-all-groups i.fa {
  cursor: pointer;
  color: #BBC5C8;
}
#sendEmailsForClients .clients-all-groups i.fa:hover {
  color: #7c8994;
}
#sendEmailsForClients .clients-all-groups i.fa.active-group {
  color: #ffa613;
}
#sendEmailsForClients .clients-all-groups i.fa.active-group:hover {
  color: #e69113;
}
#sendEmailsForClients .client-name-td {
  width: 13em;
  max-width: 13em;
  overflow: hidden;
}
#sendEmailsForClients .client-company-td {
  width: 10em;
  max-width: 10em;
  overflow: hidden;
}
#sendEmailsForClients .clients-email-td {
  width: 9em;
  max-width: 9em;
  overflow: hidden;
}
#sendEmailsForClients .client-company {
  white-space: nowrap;
}
#sendEmailsForClients .client-position {
  white-space: nowrap;
  font-size: .9em;
  font-style: italic;
}
.bid-name-td {
  width: 12em;
  max-width: 12em;
  overflow: hidden;
  white-space: nowrap;
}
.bid-company-td {
  width: 10em;
  max-width: 10em;
  overflow: hidden;
  white-space: nowrap;
}
.for-width-6 {
  width: 6em;
  max-width: 6em;
  overflow: hidden;
  white-space: nowrap;
}
.for-width-8 {
  width: 8em;
  max-width: 8em;
  overflow: hidden;
  white-space: nowrap;
}
.for-width-10 {
  width: 10em;
  max-width: 10em;
  overflow: hidden;
  white-space: nowrap;
}
.bid-objectdeal-td,
.bid-comment-td,
.bid-next-action-td {
  width: 13em;
  max-width: 13em;
  overflow: hidden;
  white-space: nowrap;
}
.func-btns-prie {
  float: right;
}
.func-btns-prie .table-print-button {
  font-size: 1.36em;
  color: #00aedc;
  cursor: pointer;
  border: 2px solid #00aedc;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  padding: .26em;
}
.func-btns-prie .table-print-button:hover {
  color: whitesmoke;
  border: 2px solid #00aedc;
  background: #00aedc;
  transition: all .26s linear;
}
.func-btns-prie .table-select-all-contacts-button {
  font-size: 1.36em;
  color: #00aedc;
  cursor: pointer;
  border: 2px solid #00aedc;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  padding: .26em;
  color: #d73925;
  border: 2px solid #d73925;
}
.func-btns-prie .table-select-all-contacts-button:hover {
  color: whitesmoke;
  border: 2px solid #00aedc;
  background: #00aedc;
  transition: all .26s linear;
}
.func-btns-prie .table-select-all-contacts-button:hover {
  border: 2px solid #d73925;
  background: #d73925;
}
.welcome-page {
  min-height: 80vh;
  width: 90vw;
  margin: 10vh 5vw;
  background: url(/images/another/kamss_map.png) 100% 90% no-repeat;
  background-size: cover;
}
.welcome-page .welcome-btns {
  position: absolute;
  top: .52em;
  right: .52em;
}
.welcome-page .welcome-btns li a {
  cursor: pointer;
}
#sendEmailsButton {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  color: whitesmoke;
  font-size: 1.1em;
  font-weight: 900;
  padding: .26em 0;
  background: #c9302c;
  cursor: pointer;
  border: none;
}
#sendEmailsButton[disabled] {
  opacity: .5;
}
#sendEmailsButton:hover {
  background: #e92926;
  transition: all .13s linear;
}
#removeSendingSessions {
  position: fixed;
  bottom: 0;
  right: 0.52em;
  z-index: 99999999;
  font-size: 1.3em;
  padding: .28em 0;
  color: whitesmoke;
  cursor: pointer;
}
#removeSendingSessions:hover {
  color: white;
  transition: all .13s linear;
}
#selectAllForSendEmailsButton {
  z-index: 9999999;
  background: #c9302c;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
}
#selectAllForSendEmailsButton[disabled] {
  opacity: .5;
}
#selectAllForSendEmailsButton:hover {
  background: #e92926;
  transition: all .13s linear;
}
#selectAllForSendEmailsButton span {
  color: whitesmoke;
  font-size: 1.6em;
  padding: .26em;
}
.client-crup-bottom {
  padding-bottom: 2em;
  display: flex;
  justify-content: space-between;
}
.client-crup-bottom .return-back-checkbox {
  color: #3c8dbc;
  text-decoration: underline;
}
/*SELECT2 THEN CHOOSE ELEMENT*/
.select2-selection__choice {
  background: #519be8 !important;
  color: #ffffff !important;
  font-weight: 800 !important;
}
.select2-selection__choice .select2-selection__choice__remove {
  float: right !important;
  padding-left: .5em !important;
  color: #ffffff !important;
}
/*SETTINGS*/
.settings-page {
  padding: 2em 1em;
}
.settings-page .settings-checkbox .checkbox-text {
  padding-left: .39em;
  vertical-align: bottom;
  font-family: sans-serif;
  font-size: 1.13em;
  font-weight: 800;
}
.settings-page .settings-checkbox .checkbox-text:hover {
  color: #00a7d0;
  transition: all 0.21s ease-in;
}
.settings-page .new-entry {
  margin-top: 4em;
  padding: 1.3em;
  background: #d9ffed;
  box-shadow: 0 0 0 2px #60B88D,
        0 0 0 5px #90CDAF,
        0 0 0 9px #BFE3D1;
}
.settings-page .new-entry * {
  padding-right: .5em;
  margin: .26em 0;
}
.settings-page .new-entry input {
  min-width: 15em;
  max-width: 100%;
}
.company-change .register-box {
  margin-top: .5em;
}
.company-change .change-info-block {
  padding-left: 1em;
  font-family: 'Open Sans', sans-serif;
}
.company-change .change-info-block * {
  margin-top: 1em;
}
.company-change .change-info-block span.label {
  font-size: 1em;
}
.main-header .messages-menu #notificationsCount {
  font-size: .8em;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: .58em !important;
  right: .66em !important;
  padding: .28em .44em !important;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  border: 0.18em solid #3c8dbc;
  background: #ff4f13 !important;
}
.main-header .messages-menu .not-exists-notifications {
  color: #315876;
}
.main-header .messages-menu #notificationMenuList {
  width: 21em !important;
  max-width: 98vw !important;
}
.main-header .messages-menu #notificationMenuList .header {
  box-shadow: 0 6px 4px -4px rgba(47, 108, 148, 0.44) !important;
}
.main-header .messages-menu #notificationMenuList .menu a[href="javascript:void(0);"] {
  cursor: default;
}
.main-header .messages-menu #notificationMenuList .menu a[href="javascript:void(0);"] .hn-remove {
  cursor: pointer;
}
.main-header .messages-menu #notificationMenuList .menu .hn-text {
  white-space: normal !important;
  font-family: 'Open Sans', sans-serif;
  font-size: .96em;
  color: #131313;
}
.main-header .messages-menu #notificationMenuList .menu #headerNotificationsNone {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-header .messages-menu #notificationMenuList .menu #headerNotificationsNone i.fa {
  color: #cccccc;
}
.main-header .messages-menu #notificationMenuList .menu #headerNotificationsNone p {
  font-family: 'Open Sans', sans-serif;
  font-size: .95em;
  color: #919191;
  padding-top: 1em;
}
.main-header .messages-menu #notificationMenuList .footer {
  box-shadow: 0 -6px 4px -4px rgba(47, 108, 148, 0.44) !important;
}
.main-header .messages-menu #notificationMenuList .footer a {
  font-family: 'Open Sans', sans-serif;
}
.main-header .messages-menu #notificationMenuList .footer:hover a {
  color: white !important;
  background: #3c8dbc !important;
  transition: all 0.18s ease-in;
}
.main-header .messages-menu #notificationMenuList .not-active a {
  pointer-events: none;
  cursor: default;
}
.main-header .messages-menu #notificationMenuList .not-active a:hover {
  background: none !important;
}
.main-header .header-logout i,
.main-header .header-logout span {
  color: #315876;
}
.main-header .header-logout:hover i,
.main-header .header-logout:hover span {
  color: whitesmoke;
  transition: all 0.18s ease-in;
}
.main-header .navbar .sidebar-toggle {
  color: #315876 !important;
}
.main-header .navbar .sidebar-toggle:hover {
  color: white !important;
  transition: all 0.18s ease-in;
}
/*File upload block*/
#input_upload_file {
  display: none;
}
#file_upload {
  width: 98%;
  margin: 1.3em auto 1.5em auto;
  min-height: 5em;
  background: #ffe9c5;
  box-shadow: 0 0 0 2px #ffb846, 0 0 0 5px #ffd188, 0 0 0 9px #ffdfac;
  cursor: pointer;
}
#file_upload i {
  padding: .5em 0 .26em 0;
  color: #fe9c00;
}
#file_upload #choose_file {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.23em;
  padding-bottom: 1em;
  color: #fe9c00;
}
/*TinyMCE Own create*/
.tiny-mce-creator {
  box-shadow: 0px 4px 6px 0px #919191;
}
.own-create-title {
  box-shadow: 0px 4px 6px -2px #919191;
}
/*If file exists in own template*/
.ot-file-exists {
  margin-top: 1.5em;
  padding: 1em;
  background: white;
  box-shadow: 0px 4px 9px 0px #919191;
  color: #1d4c65;
}
.ot-file-exists .ot-file-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 800;
  padding: 0 .66em 0 .31em;
}
.ot-file-exists .ot-file-icons .ot-file-download {
  padding: 0 .23em;
}
.ot-file-exists .ot-file-icons .ot-file-remove {
  padding: 0 .23em;
  color: #d33724;
  cursor: pointer;
}
#importErrorsInfo {
  position: fixed;
  top: 0;
  width: 100%;
  background: #dd4b39;
  padding: .75em 1em;
  z-index: 99999;
  color: white;
  font-weight: 900;
  font-family: 'Open Sans', sans-serif;
}
#importErrorsInfo a {
  font-weight: 900;
  margin-left: .44em;
}
#removeImportErrorCorrection {
  position: fixed;
  bottom: 2em;
  right: 1em;
  font-family: 'Open Sans', sans-serif;
  background: #d73925;
  padding: 1em;
  color: white;
  cursor: pointer;
  -webkit-border-radius: .26em;
  -moz-border-radius: .26em;
  border-radius: .26em;
  opacity: .8;
}
#removeImportErrorCorrection:hover {
  opacity: 1;
  transition: all 0.18s ease-in;
}
.action-dropdown-icon {
  width: 1em;
}
.action-dropdown-icon i {
  color: #D81B60;
}
.action-dropdown-btn .dropdown .btn-for-actions {
  cursor: pointer;
  padding: .0em;
  -webkit-border-radius: .44em;
  -moz-border-radius: .44em;
}
.action-dropdown-btn .dropdown .btn-for-actions i {
  color: #d81b60;
  font-size: 1.39em;
}
.action-dropdown-btn .dropdown .dropdown-menu {
  min-width: 0 !important;
  padding: 0 .39em;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-success {
  cursor: pointer;
  background: #00a65a;
  margin: .26em .05em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-success i {
  font-size: 1.3em;
  padding: .26em;
  color: white;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-success:hover {
  background: #00b566;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-danger {
  cursor: pointer;
  background: #00a65a;
  margin: .26em .05em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #f15c42;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-danger i {
  font-size: 1.3em;
  padding: .26em;
  color: white;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-danger:hover {
  background: #00b566;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-danger:hover {
  background: #f5644c;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-warning {
  cursor: pointer;
  background: #00a65a;
  margin: .26em .05em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #f39c12;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-warning i {
  font-size: 1.3em;
  padding: .26em;
  color: white;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-warning:hover {
  background: #00b566;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-warning:hover {
  background: #ffae28;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-info {
  cursor: pointer;
  background: #00a65a;
  margin: .26em .05em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #00c0ef;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-info i {
  font-size: 1.3em;
  padding: .26em;
  color: white;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-info:hover {
  background: #00b566;
}
.action-dropdown-btn .dropdown .dropdown-menu .dmb-info:hover {
  background: #00c8f8;
}
.action-dropdown-btn .dropdown:hover .btn-for-actions i {
  color: #ff0014;
  transition: all 0.1s ease-in;
}
#plusButtonToCreateNewCompany {
  position: absolute;
  top: 2.3em;
  right: -1.5em;
}
