@import "collection/variables";
@import "collection/mixins";

/*>>>>TABLE FIX OVERFLOW AUTO>>>>*/
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

/*<<<<TABLE FIX OVERFLOW AUTO<<<<*/

.notification-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    font-size: 1.1em;
    font-weight: 600;
    font-family: Arial, Tahoma, Helvetica, Verdana, Lucida, sans-serif;
    button.close {
        font-size: 1.8em;
    }
    .alert {
        border-color: transparent;
    }
    .alert-error, .alert-danger {
        background: #dd4b39 !important;
        color: @notification_color_1 !important;
    }
    .alert-warning {
        background: #f0ad4e !important;
        color: @notification_color_1 !important;
    }
    .alert-success {
        background: #5cb85c !important;
        color: @notification_color_1 !important;
    }
    .alert-info {
        background: #5bc0de !important;
        color: @notification_color_1 !important;
    }
}

.notification-page {
    padding-bottom: .9em;
    .alert {
        font-family: Helvetica, Arial, Tahoma, Verdana, Lucida, sans-serif;
        margin-bottom: .5em;
        color: #5c6664 !important;
        a {
            color: #00a7d0 !important;
        }
    }
}

.checkbox-2x {
    -ms-transform: scale(1.66);
    -moz-transform: scale(1.66);
    -webkit-transform: scale(1.66);
    -o-transform: scale(1.66);
    padding: 10px;
}

.modal-type-1 {
    .modal-header {
        background: @modal_type_1;
        .close {
            position: absolute;
            right: .26em;
            top: .23em;
            font-size: 3.2em;
            font-weight: 100;
        }
        .modal-title {
            font-size: 1.5em;
            color: #596167;
        }
    }
    .modal-body {
        .modal-body-text {
            font-family: 'Open Sans', sans-serif;
            color: rgba(29, 33, 42, 0.53);
            padding: .26em 0 1.3em 0;
        }
    }
    .modal-footer {
        background: @modal_type_1;
    }
}

#clientShow {
    .dl-horizontal dt, .dl-horizontal dd {
        padding-top: .52em;
    }
}

form {
    .border-bg-blue {
        border: 1px solid #0073b7;
    }
    .border-bg-red {
        border: 1px solid #dd4b39;
    }
}

.header-locale {
    ul {
        padding-top: 1em;
        li {
            a {
                img {
                    width: 2em;
                    border-radius: .26em;
                    &:hover {
                        transform: scale(1.3, 1.3);
                        transition: all .39s ease-in;
                    }
                }
            }
        }
    }
}

/*TEMPLATES*/
.email-templates {
    .thumbnail {
        img {
            width: 100%;
            height: 10em;
        }
    }
}

/*LOADING IMAGE*/
.loading-process {
    z-index: 99999;
    position: fixed;
    display: none;
    .dark-background {
        background: rgba(0, 0, 0, 0.44);
        position: inherit;
        z-index: inherit;
        width: 100%;
        height: 100%;
    }
    img {
        z-index: inherit;
        position: inherit;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        max-width: 20em;
        opacity: 1;
    }
}

.not-active-link {
    pointer-events: none;
    opacity: .65;
}

input:invalid, select:invalid, textarea:invalid {
    border: 1px solid @danger_color_1;
    background: lighten(@danger_color_1, 39%);
    &::-webkit-input-placeholder {
        color: @danger_color_1;
    }
    &::-moz-placeholder {
        color: @danger_color_1;
    }
    &:-moz-placeholder {
        color: @danger_color_1;
    }
    &:-ms-input-placeholder {
        color: @danger_color_1;
    }
}

.unsubscribe-page {
    .unsubscribe-text {
        padding: 10vh 0 0 0;
    }
    img {
        width: 20em;
        min-width: 30vw;
        max-width: 44vw;
        padding: 5vh 0 2em 0;
    }
}

/*Select2 color multiple choose*/
.select2-selection__choice {
    color: #000000 !important;
}

/*Tips blocks*/
#tipsBlocks { //General button
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -5em;
    z-index: 99999;
    cursor: pointer;
    padding: .39em .75em;
    background: #5cb85c;
    -webkit-border-radius: .5em .5em 0 0;
    -moz-border-radius: .5em .5em 0 0;
    border-radius: .5em .5em 0 0;
    color: #ffffff;
    opacity: .8;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    font-size: .88em;
    letter-spacing: .05em;
    &:hover {
        opacity: 1;
    }
}

.tip-block {
    display: none;
}

.tip-block-under {
    font-size: .9em;
    font-style: italic;
    color: rgba(72, 142, 156, 0.91);
}

.page-info-block {
    .close {
        position: relative;
        right: -.44em;
        top: -.44em;
        font-size: 3.2em;
        font-weight: 100;
    }
}

/*END Tips blocks*/

.moderator-link {
    i, span {
        color: rgba(122, 134, 146, 0.67);
    }
}

/*Panel index*/
.dashboard-general {
    .info-box {
        color: #666666 !important;
        .info-box-content {
            .info-box-text {
                font-size: .83em;
            }
            .info-box-my-count {
                font-weight: 900;
                font-size: 1.5em;
            }
        }
        &:hover {
            .info-box-icon i {
                transform: scale(1.13, 1.13) translate(.1em, .1em);
                transition: all .26s linear;
            }
            .info-box-content {
                color: #0094bc;
                transition: all .26s linear;
                .info-box-link {
                    color: #44cf6b !important;
                    transition: all .26s linear;
                }
            }
        }
    }
}

/*Clients groups*/
#sendEmailsForClients {
    .clients-all-groups {
        white-space: nowrap;
        i.fa {
            cursor: pointer;
            color: #BBC5C8;
            &:hover {
                color: #7c8994;
            }
        }
        cursor: pointer;
        i.fa.active-group {
            color: #ffa613;
            &:hover {
                color: #e69113;
            }
        }
    }
    .client-name-td {
        width: 13em;
        max-width: 13em;
        overflow: hidden;
    }
    .client-company-td {
        width: 10em;
        max-width: 10em;
        overflow: hidden;
    }
    .clients-email-td {
        width: 9em;
        max-width: 9em;
        overflow: hidden;
    }
    .client-company {
        white-space: nowrap;
    }
    .client-position {
        white-space: nowrap;
        font-size: .9em;
        font-style: italic;
    }
}

.bid-name-td {
    width: 12em;
    max-width: 12em;
    overflow: hidden;
    white-space: nowrap;
}

.bid-company-td {
    width: 10em;
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;
}

.for-width-6 {
    width: 6em;
    max-width: 6em;
    overflow: hidden;
    white-space: nowrap;
}

.for-width-8 {
    width: 8em;
    max-width: 8em;
    overflow: hidden;
    white-space: nowrap;
}

.for-width-10 {
    width: 10em;
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;
}

.bid-objectdeal-td, .bid-comment-td, .bid-next-action-td {
    width: 13em;
    max-width: 13em;
    overflow: hidden;
    white-space: nowrap;
}

.func-btns-prie {
    float: right;
    .table-print-button {
        font-size: 1.36em;
        color: @print_button_1;
        cursor: pointer;
        border: 2px solid @print_button_1;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
        padding: .26em;
        &:hover {
            color: whitesmoke;
            border: 2px solid @print_button_1;
            background: @print_button_1;
            transition: all .26s linear;
        }
    }
    .table-select-all-contacts-button {
        .table-print-button;
        color: @red_button_1;
        border: 2px solid @red_button_1;
        &:hover {
            border: 2px solid @red_button_1;
            background: @red_button_1;
        }
    }
}

.welcome-page {
    min-height: 80vh;
    width: 90vw;
    margin: 10vh 5vw;
    background: url(/images/another/kamss_map.png) 100% 90% no-repeat;
    background-size: cover;
    .welcome-btns {
        position: absolute;
        top: .52em;
        right: .52em;
        li {
            a {
                cursor: pointer;
            }
        }
    }
}

#sendEmailsButton {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    color: whitesmoke;
    font-size: 1.1em;
    font-weight: 900;
    padding: .26em 0;
    background: #c9302c;
    cursor: pointer;
    border: none;
    &[disabled] {
        opacity: .5;
    }
    &:hover {
        background: #e92926;
        transition: all .13s linear;
    }
}
#removeSendingSessions {
    position: fixed;
    bottom: 0;
    right: 0.52em;
    z-index: 99999999;
    font-size: 1.3em;
    padding: .28em 0;
    color: whitesmoke;
    cursor: pointer;
    &:hover {
        color: white;
        transition: all .13s linear;
    }
}

#selectAllForSendEmailsButton {
    z-index: 9999999;
    background: #c9302c;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    border-radius: 5em;
    &[disabled] {
        opacity: .5;
    }
    &:hover {
        background: #e92926;
        transition: all .13s linear;
    }
    span {
        color: whitesmoke;
        font-size: 1.6em;
        padding: .26em;
    }
}

.client-crup-bottom {
    padding-bottom: 2em;
    display: flex;
    justify-content: space-between;
    .return-back-checkbox {
        color: #3c8dbc;
        text-decoration: underline;
    }
}

/*SELECT2 THEN CHOOSE ELEMENT*/
.select2-selection__choice {
    background: #519be8 !important;
    color: #ffffff !important;
    font-weight: 800 !important;
    .select2-selection__choice__remove {
        float: right !important;
        padding-left: .5em !important;
        color: #ffffff !important;
    }
}

/*SETTINGS*/
.settings-page {
    padding: 2em 1em;
    .settings-checkbox {
        .checkbox-text {
            padding-left: .39em;
            vertical-align: bottom;
            font-family: sans-serif;
            font-size: 1.13em;
            font-weight: 800;
            &:hover {
                color: #00a7d0;
                transition: all .21s ease-in;
            }
        }
    }
    .new-entry {
        margin-top: 4em;
        padding: 1.3em;
        background: #d9ffed;
        box-shadow: 0 0 0 2px #60B88D,
        0 0 0 5px #90CDAF,
        0 0 0 9px #BFE3D1;
        * {
            padding-right: .5em;
            margin: .26em 0;
        }
        input {
            min-width: 15em;
            max-width: 100%;
        }
    }
}

.company-change {
    .register-box {
        margin-top: .5em;
    }
    .change-info-block {
        padding-left: 1em;
        font-family: 'Open Sans', sans-serif;
        * {
            margin-top: 1em;
        }
        span.label {
            font-size: 1em;
        }
    }
}

.main-header {
    .messages-menu {
        #notificationsCount {
            font-size: .8em;
            font-family: 'Open Sans', sans-serif;
            position: absolute;
            top: .58em !important;
            right: .66em !important;
            padding: .28em .44em !important;
            -webkit-border-radius: 1em;
            -moz-border-radius: 1em;
            border-radius: 1em;
            border: .18em solid @site_color_1;
            background: #ff4f13 !important;
        }
        .not-exists-notifications {
            color: @dark_blue_1;
        }
        #notificationMenuList {
            width: 21em !important;
            max-width: 98vw !important;
            .header {
                box-shadow: 0 6px 4px -4px rgba(47, 108, 148, 0.44) !important;
            }
            .menu {
                a[href="javascript:void(0);"] {
                    cursor: default;
                    .hn-remove {
                        cursor: pointer;
                    }
                }
                .hn-text {
                    white-space: normal !important;
                    font-family: 'Open Sans', sans-serif;
                    font-size: .96em;
                    color: #131313;
                }
                #headerNotificationsNone {
                    height: inherit;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    i.fa {
                        color: #cccccc;
                    }
                    p {
                        font-family: 'Open Sans', sans-serif;
                        font-size: .95em;
                        color: #919191;
                        padding-top: 1em;
                    }
                }
            }
            .footer {
                box-shadow: 0 -6px 4px -4px rgba(47, 108, 148, 0.44) !important;
                a {
                    font-family: 'Open Sans', sans-serif;
                }
                &:hover {
                    a {
                        color: white !important;
                        background: @site_color_1 !important;
                        transition: all .18s ease-in;
                    }
                }
            }
            .not-active {
                a {
                    pointer-events: none;
                    cursor: default;
                    &:hover {
                        background: none !important;
                    }
                }
            }
        }
    }
    .header-logout {
        i, span {
            color: @dark_blue_1;
        }
        &:hover {
            i, span {
                color: whitesmoke;
                transition: all .18s ease-in;
            }
        }
    }
    .navbar .sidebar-toggle {
        color: @dark_blue_1 !important;
        &:hover {
            color: white !important;
            transition: all .18s ease-in;
        }
    }
}

/*File upload block*/
#input_upload_file {
    display: none;
}

#file_upload {
    width: 98%;
    margin: 1.3em auto 1.5em auto;
    min-height: 5em;
    background: lighten(@warning_color_1, 35%);
    box-shadow: 0 0 0 2px lighten(@warning_color_1, 10%),
    0 0 0 5px lighten(@warning_color_1, 23%),
    0 0 0 9px lighten(@warning_color_1, 30%);
    cursor: pointer;
    i {
        padding: .5em 0 .26em 0;
        color: darken(@warning_color_1, 4%);
    }
    #choose_file {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.23em;
        padding-bottom: 1em;
        color: darken(@warning_color_1, 4%);
    }
}


/*TinyMCE Own create*/
.tiny-mce-creator {
    box-shadow: 0px 4px 6px 0px #919191;
}

.own-create-title {
    box-shadow: 0px 4px 6px -2px #919191;
}

/*If file exists in own template*/
.ot-file-exists {
    margin-top: 1.5em;
    padding: 1em;
    background: white;
    box-shadow: 0px 4px 9px 0px #919191;
    color: #1d4c65;
    .ot-file-logo {
    }
    .ot-file-name {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.1em;
        font-weight: 800;
        padding: 0 .66em 0 .31em;
    }
    .ot-file-size {

    }
    .ot-file-icons {
        .ot-file-download {
            padding: 0 .23em;
        }
        .ot-file-remove {
            padding: 0 .23em;
            color: #d33724;
            cursor: pointer;
        }
    }
}

#importErrorsInfo {
    position: fixed;
    top: 0;
    width: 100%;
    background: #dd4b39;
    padding: .75em 1em;
    z-index: 99999;
    color: white;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    a {
        font-weight: 900;
        margin-left: .44em;
    }
}

#removeImportErrorCorrection {
    position: fixed;
    bottom: 2em;
    right: 1em;
    font-family: 'Open Sans', sans-serif;
    background: @red_button_1;
    padding: 1em;
    color: white;
    cursor: pointer;
    -webkit-border-radius: .26em;
    -moz-border-radius: .26em;
    border-radius: .26em;
    opacity: .8;
    &:hover {
        opacity: 1;
        transition: all .18s ease-in;
    }
}

.action-dropdown-icon {
    width: 1em;
    i {
        color: #D81B60;
    }
}
.action-dropdown-btn {
    .dropdown {
        .btn-for-actions {
            cursor: pointer;
            padding: .0em;
            -webkit-border-radius: .44em;
            -moz-border-radius: .44em;
            i {
                color: @dropdown_menu_1;
                font-size: 1.39em;
            }
        }
        .dropdown-menu {
            min-width: 0 !important;
            padding: 0 .39em;
            .dmb-success {
                cursor: pointer;
                background: @dropdown_menu_green_1;
                margin: .26em .05em;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                i {
                    font-size: 1.3em;
                    padding: .26em;
                    color: white;
                }
                &:hover {
                    background: @dropdown_menu_green_2;
                }
            }
            .dmb-danger {
                .dmb-success;
                background: @dropdown_menu_danger_1;
                &:hover {
                    background: @dropdown_menu_danger_2;
                }
            }
            .dmb-warning {
                .dmb-success;
                background: @dropdown_menu_yellow_1;
                &:hover {
                    background: @dropdown_menu_yellow_2;
                }
            }
            .dmb-info {
                .dmb-success;
                background: @dropdown_menu_info_1;
                &:hover {
                    background: @dropdown_menu_info_2;
                }
            }
        }
        &:hover {
            .btn-for-actions {
                i {
                    color: #ff0014;
                    transition: all .1s ease-in;
                }
            }
        }
    }
}

#plusButtonToCreateNewCompany {
    position: absolute;
    top: 2.3em;
    right: -1.5em;
}