@import "collection/variables";
@import "collection/mixins";

@media screen and (min-width: 200px) and (max-width: 767px) {
    .import-errors {
        .ie-body {
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (min-width: 200px) and (max-width: 768px) {
    //.welcome-page {
    //    min-height: 100vh;
    //    width: 100vw;
    //    margin: 0;
    //    background: url(/images/another/kamss_map.png) 100% 90% no-repeat;
    //    background-size: cover;
    //}
}
