/*COLORS*/
/*Example*/
@media screen and (min-width: 200px) and (max-width: 767px) {
  .import-errors .ie-body {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 200px) and (max-width: 768px) {
}
