@import "collection/variables";
@import "collection/mixins";

body {
    background: @bg_color_1;
}

.simple-main {
    .container {
        .page-logo {
            padding-top: 18vh;
            img {
                width: 13em;
                max-width: 50vw;
            }
            .page-logo-text {
                padding-top: 1em;
                font-family: 'Open Sans', sans-serif;
                letter-spacing: .05em;
                color: rgba(129, 143, 175, 0.67);
            }
            &:hover {
                .page-logo-text {
                    transform: scale(1.3, 1.3);
                    transition: all 1s ease-in;
                }
            }
        }
    }
}


