/*COLORS*/
/*Example*/
body {
  background: #e1e3ea;
}
.simple-main .container .page-logo {
  padding-top: 18vh;
}
.simple-main .container .page-logo img {
  width: 13em;
  max-width: 50vw;
}
.simple-main .container .page-logo .page-logo-text {
  padding-top: 1em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .05em;
  color: rgba(129, 143, 175, 0.67);
}
.simple-main .container .page-logo:hover .page-logo-text {
  transform: scale(1.3, 1.3);
  transition: all 1s ease-in;
}
